<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>도서 목록 게시판</title>
    <link rel="stylesheet" href="/css/bookBoardList.css" />
</head>
<body>
    <div class="container">
        <h2 class="mainTitle">도서 목록 게시판</h2>
        <form id="frm" method="post" action="/book/insertBook.do">
            <table class="book_list">
                <colgroup>
                    <col width="15%" />
                    <col width="*" />
                    <col width="15%" />
                    <col width="20%" />
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">도서 ID</th>
                        <th scope="col">제목</th>
                        <th scope="col">저자</th>
                        <th scope="col">출판일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${#lists.size(list)} > 0" th:each="book, stat : ${list}">
                        <td th:text="${stat.index + 1}"></td>
                        <td class="title">
                        	<!-- 책 이미지 -->
                            <img th:src="${book.imageUrl}" alt="책 이미지" style="width: 30%; height: auto;" />
                            <a href="/book/openBookDetail.do?bookId="
                               th:attrappend="href=${book.bookId}"
                               th:text="${book.title}">
                            </a>
                        </td>
                        <td th:text="${book.author}"></td>
                        <td th:text="${book.publishedDate}"></td>
                    </tr>
                    <tr th:unless="${#lists.size(list)} > 0">
                        <td colspan="4">조회된 결과가 없습니다.</td>
                    </tr>
                </tbody>
            </table>
        </form>
        <a href="/book/openBookWrite.do" class="btn">책 추가하기</a>
    </div>
</body>
</html>